---
import VideoInline from "@components/media/VideoInline.vue";
import Link from "@components/navigation/Link.astro"; 
interface Props {
  blok: any;
}

const { blok } = Astro.props;

const { content, video, surface, container, align, links, opacity } =
  blok;

const renderedRichText = content || "";


function getContainerClass() {
  if (!container || container === "full-width")
    return "full-width parallax-wrap ";
  return `${container} rounded-xl overflow-hidden my-8 parallax-wrap `;
}
---

<div
  class={` ${surface || ""} intersecting`}
>
  <div class="content-grid isolate">
    <div class={getContainerClass()}>
      <div class={`${surface} ${align || ""} relative w-full overflow-hidden`}>
        <div
          class={`parallax absolute inset-0 overflow-hidden ${opacity || ""}`}
        >
          {
            !video?.filename && (
              <img src="/screenshots/fondov1.png" alt="Fondo Cora" class="absolute inset-0 w-full h-full object-cover -z-10 fade-in" />
            )
          }
          {
            video?.filename && (
              <VideoInline
                url={video.filename}
                client:visible
                className="fade-in"
              >
                <img src="/screenshots/fondov1.png" alt="Fondo Cora" class="absolute inset-0 w-full h-full object-cover -z-10" />
              </VideoInline>
            )
          }
        </div>

        <div
          class={!container || container === "full-width"
            ? "content-grid relative"
            : "relative px-2 sm:px-4 md:px-8"}
        >
          <div
            class={`scale-in h-fit grid grid-cols-1 gap-4 py-14 md:py-20  sm:${align || ""} `}
          >
            <div
              set:html={renderedRichText}
              class="richtext max-w-2xl text-ellipsis"
            />

            {
              links && links.length > 0 && (
                <div class="buttons inline-flex w-fit flex-wrap gap-4 pt-4">
                  {links.map((link: any) => (
                    <Link
                      blok={{
                        ...link,
                      }}
                    />
                  ))}
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .text-center {
    .buttons {
      @apply justify-center;
    }
  }
</style>
