---
import MenuItemCard from "@components/cards/MenuItemCard.astro";

interface Props {
  id?: string;
  menu: {
    surface?: string;
    categories: {
      slug: string;
      content: {
        title: string;
        icon?: string;
        content?: string;
      };
      items: any[];
    }[];
  };
}

const { id, menu } = Astro.props;
const { categories, surface } = menu;
---

<section
  class={`content-grid py-14 ${surface || ""}`}
  id={id}
>
  {
    categories && categories.length > 1 && (
      <ul
        class={`breakout sticky top-0 z-30 mb-8 flex flex-wrap justify-start gap-2 py-2`}
      >
        {categories.map((cat) => (
          <li class="flex gap-2">
            <a class={`btn-sm`} href={`#${cat.slug}`}>
              {cat.content.title}
            </a>
          </li>
        ))}
      </ul>
    )
  }

  <div class="breakout grid gap-28">
    {
      categories.map((cat) => (
        <div class="grid scroll-mt-20 gap-8 md:gap-14" id={cat.slug}>
          <div>
            <h2 class="text-4xl uppercase">{cat.content.title}</h2>
            {cat.content?.content && (
              <div
                class="richtext max-w-xl text-balance"
                set:html={cat.content.content}
              />
            )}
          </div>

          <div class="grid grid-flow-dense grid-cols-1 gap-10 sm:grid-cols-2 xl:gap-x-24">
            {cat.items.map((item) => (
              <MenuItemCard content={item} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
